#test {
	width: 200px;
	height: 200px;
	background: yellow;
	mix-blend-mode: screen;
	border-radius: 250px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.test {
	width: 8px;
	height: 8px;
	background: yellow;
	mix-blend-mode: screen;
	border-radius: 4px;
	position: absolute;
	z-index: -1;
}


.tide_high label, 
.tide_low label{
	font-weight: 200;
}

.graphs {
	margin-top: 20%;
	margin-left: 25%;
}

#sea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	display: inline;
}

.new {
	position: absolute;
	top: 0px;
}

.low {
	position: absolute;
	top: 0px;
}
